/* This is the original example. You can take all css styles from here. */
$body-font: Quando, sans-serif;
$nav-font: 'Josefin Sans', sans-serif;
$primary: #787878;
$secondary: #989898;
$nav-color: #324360;
$hover-color: #111111;

@mixin link-style($link-style: $hover-color) {
    font-weight: 400;
    text-decoration: none;
    color: $hover-color;
    transition: .30s;
}

body {
    font-family: $body-font;
    font-size: 15px;
    color: $primary;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin-bottom: 25px;
    line-height: 1.6em;
}
a {
    @include link-style;

    &:hover {
        color: $secondary;
    }
}

@mixin heading-style($heading-style: #111111) {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $nav-font;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $heading-style;
}

h1 {
    @include heading-style;
    font-size: 37px;
}
h2 {
    @include heading-style;
    font-size: 31px;
}
h3 {
    @include heading-style;
    font-size: 26px;
}
h4 {
    @include heading-style;
    font-size: 21px;
}
h5 {
    @include heading-style;
    font-size: 18px;
}
h6 {
    @include heading-style;
    font-size: 15px;
}


.container {
    width: 94%;
    margin: 0 auto;
}


/* header and main nav */
header {
    font-family: $nav-font;

    nav ul { display: none; }
}
.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}

/* posts */
article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.image-part {
    margin-bottom: 10px;
}

.post-title {
    margin-top: 0;

    a {
        color: $nav-color;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.3em;
        transition: all .3s ease;

        &:hover {
            color: #35c4ce;
        }
    }
}

/* footer */
footer {
    padding: 30px 0;
    text-align: center;
    background: #eaf2ff;
    color: $secondary;
}
#footer a {
    color: $secondary;

    &:hover { color: $hover-color; }
}
.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
}
.footer-social-links {
    padding: 20px 0;
    line-height: 2em;

    a {
        margin: 0 10px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;

        span { display: none; }
    }
}
#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $secondary;
}


@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

    header nav {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        ul { display: flex; 
            /* sub nav */
            ul {
                visibility: hidden;
                opacity: 0;
                display: block;
                position: absolute;
                z-index: 9999;
                left: 0;
                background: #f0f0f0;
                transition: all 0.2s ease-out;

                li {
                    border-top: 1px solid #e9e9e9;
                    margin: 0;
                }

                a {
                    @include link-style;
                    display: block;
                    min-width: 175px;
                    margin: 0;
                    padding: 20px 10px;
                    line-height: 1.4em;
                    letter-spacing: 1px;
                    
                    &:hover {
                        background: #ffffff;
                        color: #000; 
                    }
                }
            }
        
        }

        li {
            margin: 0 15px;
            position: relative;
            line-height: 24px;

            &:hover ul {
                visibility: visible;
                opacity: 1;
            }
        }

        a {
            font-family: $nav-font;
            color: $nav-color;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;

            &:hover { color: #35c4ce; }
        }
    }

    header nav li.menu-item-has-children > a::after {
        margin-left: 7px;
        font-family: 'Font Awesome 5 Free';
        font-size: 13px;
        color: $nav-color;
        content: '\f078';
    }
    .current-menu-item a {
        border-bottom: 2px solid $nav-color;
    }

    /* posts */
    article {
        display: flex;
    }
    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;

        img {
            transition: transform 3.5s ease-in-out;

            &:hover { transform: scale(1.5,1.5); }
        }
    }
    .content-part {
        flex: 1;
        padding-left: 50px;
    }

    /* footer */
    .footer-social-links {
        a { 
            margin: 0 28px; 
            
            span {
                display: inline;
                font-size: 11px;
            }
        }
        i { margin-right: 5px; }
    }
}